/* Code syntax colours */
.comment {
	color: #9fa6ad;
}

.keyword {
	color: #ff9800;
}

.name {
	color: #dfc48c;
}

.value {
	color: #cd6a51;
}

.return {
	color: #add8e6;
}

.tag {
	color: #e96900;
}