.hide {
	display: none;
}

.invisible {
	visibility: hidden;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.left {
	float: left;
}

.right {
	float: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.fixed {
	position: fixed;
}