.hide {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}

.bold {
	font-weight: bold !important;
}

.underline {
	text-decoration: underline !important;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.fixed {
	position: fixed !important;
}