<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/ico" href="../../src/img/favicon/code.ico" />
    <title>Dev notes - {{page.pagetitle}}</title>
    <link rel="stylesheet" href="../css/pixl.min.css" />
</head>
<body>

{{> header}}

<main>
    <div class="wrapper">
        <div class="row">
            <div class="col-12">

                <h1>{{page.pageheading}}</h1>

            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-12">

                {{#page.content}}
                <section class="padding-btm">
                    {{#showheading}}
                    <h2>{{heading}}</h2>
                    {{/showheading}}
                    {{#copy}}
                    <p>{{{.}}}</p>
                    {{/copy}}
                    {{#showmarkup}}
                    <!-- Code example -->
                    <pre class="code-panel" rel="{{rel}}" data-title="{{datatitle}}">
                        <code>
    {{#code}}
    {{{.}}}
    {{/code}}
                        </code>
                    </pre>
                    <!-- / Code example -->
                    {{/showmarkup}}  
                </section>
                {{/page.content}}

            </div>
        </div>
    </div>
</main>

{{> footer}}

</body>
</html>