<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, minimum-scale=1" />
    <link rel="shortcut icon" type="image/ico" href="../../../src/img/favicon/code.ico" />
    <title>Dev notes - {{page.title}}</title>
    <link rel="stylesheet" href="../../css/style.min.css" />
</head>
<body>

<main>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">

            <h1>{{page.heading}}</h1>
            <h2>{{page.intro}}</h2>

        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 large-9 columns">

            {{#page.content}}
            <section>
                {{#showsubheading}}
                <h3>{{subheading}}</h3>
                {{/showsubheading}}
                {{#showimage}}
                <img src="{{src}}"" alt="{{alt}}" />
                {{/showimage}}
                {{#copy}}
                <p>{{{.}}}</p>
                {{/copy}}
                {{#showmarkup}}
                <!-- Code example -->
                <div class="code" rel="{{rel}}" data-title="{{datatitle}}">
                    <pre>
                        <code>
<!-- Leave space here -->
{{#code}}
{{{.}}}
{{/code}}
                        </code>
                    </pre>
                </div>
                <!-- / Code example -->
                {{/showmarkup}}  
                {{#copy2}}
                <p>{{{.}}}</p>
                {{/copy2}}
                {{#showmarkup2}}
                <!-- Code example -->
                <div class="code" rel="{{rel}}" data-title="{{datatitle}}">
                    <pre>
                        <code>
<!-- Leave space here -->
{{#code2}}
{{{.}}}
{{/code2}}
                        </code>
                    </pre>
                </div>
                <!-- / Code example -->
                {{/showmarkup2}}     
                {{#copy3}}
                <p>{{{.}}}</p>
                {{/copy3}}
                {{#showmarkup3}}
                <!-- Code example -->
                <div class="code" rel="{{rel}}" data-title="{{datatitle}}">
                    <pre>
                        <code>
<!-- Leave space here -->
{{#code3}}
{{{.}}}
{{/code3}}
                        </code>
                    </pre>
                </div>
                <!-- / Code example -->
                {{/showmarkup3}}        
                {{#showinfo}}
                <div>
                    {{#info}}
                    <p>{{{.}}}</p>
                    {{/info}}
                </div>
                {{/showinfo}}
                {{#showsubcopy}}
                {{#subcopy}}
                <p>{{{.}}}</p>
                {{/subcopy}}
                {{/showsubcopy}}
            </section>

            {{/page.content}}

        </div>
    </div>
</main>

{{> footer}}

</body>
</html>