.list {
	@include rem(14);
	color: $list;
	font-family: "SourceSansPro-Regular", "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
	line-height: 1.9em;
	-moz-osx-font-smoothing: grayscale;
	padding: 15px 0 15px 12px;
}

// Remove bullet points from list
.no-list-style {
	list-style-type: none;
	padding-left: 0;
}