pre {
	display: block;
    background-color: #333;
    border-radius: 4px;
    color: #b3b9c5;
    overflow: auto;
    padding: 2rem;
    max-width: 100%;
    font-family: monospace;
    margin: 2rem 0;
}

code {
    font-size: 14px;
    font-size: 1.4rem;
}