@use './color' as *;

pre {
	display: block;
    background-color: $grey;
    border-radius: 4px;
    color: $grey-light;
    overflow: auto;
    padding: 2rem;
    max-width: 100%;
    font-family: monospace;
    margin: 2rem 0;
}

code {
    font-size: 14px;
    font-size: 1.4rem;
}

.token {
    &-property {
        color: $orange;
    }

    &-value {
        color: $green;
    }

    &-class {
        color: $yellow;
    }
}