@font-face {
  font-display: fallback;
  font-family: "DarkerGrotesque";
  font-style: normal;
  font-weight: 400;
  src: local("DarkerGrotesque Regular"), local("DarkerGrotesque-Regular"), 
  		url("../../fonts/darker-grotesque-v2-latin/darker-grotesque-v2-latin-regular.woff2") format("woff2"), 
  		url("../../fonts/darker-grotesque-v2-latin/darker-grotesque-v2-latin-regular.woff") format("woff"), 
  		url("../../fonts/darker-grotesque-v2-latin/darker-grotesque-v2-latin-regular.ttf") format("truetype"), 
  		url("../../fonts/darker-grotesque-v2-latin/darker-grotesque-v2-latin-regular.eot"), 
  		url("../../fonts/darker-grotesque-v2-latin/darker-grotesque-v2-latin-regular.eot?#iefix") format("embedded-opentype"), 
  		url("../../fonts/darker-grotesque-v2-latin/darker-grotesque-v2-latin-regular.svg#DarkerGrotesque") format("svg");
}

html {
	box-sizing: border-box;
	position: relative;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-size: 17px;
	font-size: 1.7rem;
	font-family: "DarkerGrotesque", Helvetica Neue, Helvetica, Arial, sans-serif;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 2rem;
	position: fixed;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 10px rgb(0 0 0 / 40%);
	z-index: 3;

	ul {
		padding: unset;
	}
}

h1, h2, h4, h5, h6,
p {
	margin-top: 1.2rem;
}

h3 {
	margin-top: 3rem;
}

a {
	color: inherit;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

ul {
	padding: 2rem;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-list {
	display: inline-flex;
	gap: 2rem;

	@media only screen and (max-width: 768px) {
		display: none;
	}

	&__item {
		list-style-type: none;
	}
}

.hamburger {
	display: none;

	@media only screen and (max-width: 768px) {
		display: block;
		cursor: pointer;

		&.active .bar:nth-child(2) {
			opacity: 0;
		}

		&.active .bar:nth-child(1) {
			transform: translateY(8px) rotate(45deg);
		}

		&.active .bar:nth-child(3) {
			transform: translateY(-8px) rotate(-45deg);
		}
	}
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #333;
}

.menu {
	z-index: 2;
	position: fixed;
	transition: 0.5s;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: #333;

	&.active {
		left: 0;
	}

	&__list {
		padding-top: 12rem;

		&-item {
			list-style-type: none;
		}

		&-link {
			color: #fff;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

.image-container {
	display: flex;
	margin: 4rem 0;
	justify-content: center;
}

main {
	display: block;
	min-height: 100vh;
}

section {
	padding-block: min(20vh, 2rem);
}


pre {
    background-color: #333;
    border-radius: 4px;
    color: #b3b9c5;
    overflow: scroll;
    font-family: monospace;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2rem 0;
    //max-height: 200px;
    tab-size: 4;
}

code {
    font-size: 14px;
    font-size: 1.4rem;
}

.terminal {
    border-radius: 5px 5px 0 0;
    position: relative;
    margin: 2rem 0;

    &--shadow {
        box-shadow: 0 0 10px rgba(0,0,0,.4);
    }

    &__top {
        background-color: #e8e6e8;
        color: #000;
        font-size: 14px;
        font-size: 1.4rem;
        padding: 0.5rem;
        border-radius: 5px 5px 0 0;
    }

    &__buttons {
        position: absolute;
        top: 7px;
        left: 5px;
    }

    &__circle {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 15px;
        margin-left: 2px;
        border-width: 1px;
        border-style: solid;

        &--red {
            background-color: #ec6a5f; 
            border-color: #d04e42; 
        }

        &--green {
            background-color: #64cc57; 
            border-color: #4ea73b;
        }

        &--yellow {
            background-color: #f5c04f; 
            border-color: #d6a13d; 
        }

        &--clear {
            clear: both;
        }
    }

    &__title {
        text-align: center;
    }

    &__body {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: #333;
        color: #b3b9c5;
        font-size: 14px;
        font-size: 1.4rem;
        padding: 2.5rem 0 1rem 0;
        overflow: auto;        
    }
}

.container {
	margin: 0 auto;

	@media screen and (min-width: 800px) {
		max-width: 1200px;
	}
}

.row {
	//display: flex;
	//flex-direction: row;
	//flex-wrap: wrap;
	max-width: 90rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	gap: 1rem;

	&--fluid {
		max-width: unset;

		&-full-width {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.column {
	//flex-basis: 100%;

	@media screen and (min-width: 800px) {
		flex: 1;
	}
}

.intro {
	background-color: #00d494;
	color: #fff;
	padding-top: 13rem;
	padding-bottom: 5rem;
	margin-bottom: 2rem;
	text-align: center;

	&__heading {
		font-size: 5rem;
		line-height: 0.85;
	}

	&__copy {
		font-size: 2rem;
		line-height: 1;
		padding: 1rem 0;
		font-weight: bold;
	}
}