@font-face {
  font-display: fallback;
  font-family: "DarkerGrotesque";
  font-style: normal;
  font-weight: 400;
  src: local("DarkerGrotesque Regular"), local("DarkerGrotesque-Regular"), 
  		url("../../fonts/darker-grotesque-v2-latin/darker-grotesque-v2-latin-regular.woff2") format("woff2"), 
  		url("../../fonts/darker-grotesque-v2-latin/darker-grotesque-v2-latin-regular.woff") format("woff"), 
  		url("../../fonts/darker-grotesque-v2-latin/darker-grotesque-v2-latin-regular.ttf") format("truetype"), 
  		url("../../fonts/darker-grotesque-v2-latin/darker-grotesque-v2-latin-regular.eot"), 
  		url("../../fonts/darker-grotesque-v2-latin/darker-grotesque-v2-latin-regular.eot?#iefix") format("embedded-opentype"), 
  		url("../../fonts/darker-grotesque-v2-latin/darker-grotesque-v2-latin-regular.svg#DarkerGrotesque") format("svg");
}

html {
	box-sizing: border-box;
	position: relative;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-size: 17px;
	font-size: 1.7rem;
	font-family: "DarkerGrotesque", Helvetica Neue, Helvetica, Arial, sans-serif;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	position: fixed;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 10px rgb(0 0 0 / 40%);
	z-index: 1;
}

h1, h2, h4, h5, h6,
p {
	margin-top: 1.2rem;
}

h3 {
	margin-top: 3rem;
}

a {
	color: inherit;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

ul {
	padding: 2rem;
}

.nav-list {
	display: inline-flex;
	gap: 2rem;

	&__item {
		list-style-type: none;
	}
}

img {
	max-width: 100%;
	margin: 2rem 0;
	height: auto;
}

main {
	display: block;
	min-height: 100vh;
}

section {
	padding-block: min(20vh, 2rem);
}

pre {
    background-color: #333;
    border-radius: 4px;
    color: #b3b9c5;
    overflow: scroll;
    font-family: monospace;
    padding-left: 20px;
    margin: 2rem 0;
    tab-size: 4;
}

code {
    font-size: 14px;
    font-size: 1.4rem;
}

.container {
	margin: 0 auto;

	@media screen and (min-width: 800px) {
		max-width: 1200px;
	}
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 90rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	gap: 1rem;

	&--fluid {
		max-width: unset;

		&-full-width {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.column {
	flex-basis: 100%;

	@media screen and (min-width: 800px) {
		flex: 1;
	}
}

.intro {
	background-color: #00d494;
	color: #fff;
	padding-top: 13rem;
	padding-bottom: 5rem;
	margin-bottom: 2rem;
	text-align: center;

	&__heading {
		font-size: 5rem;
		line-height: 0.85;
	}

	&__copy {
		font-size: 2rem;
		line-height: 1;
		padding: 1rem 0;
		font-weight: bold;
	}
}