// SHAME
.card {
	// Add shadow to create card effect
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
	text-align: center;
	padding: 10px 0;
}

.border-btm {
	border-bottom: 1px solid $heading-border;
}

.padding-btm {
	padding-bottom: 10px;
}

// NAV
header {
    background-color: #000;
    position: fixed;
    width: 100%;
    padding: 20px 10px;
}

main {
    padding-top: 50px;
}

.nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  /*background: #28dde0;*/
  background: #eee;
  color: white;
  cursor: pointer;
  /*font-size: 2rem;*/
  height: 100vh;
  /*left: -20rem;*/
  left: -25rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 20rem;
  z-index: 1;
}

.nav.expanded { left: 0; }

.nav ul {
  position: absolute;
  top: 150px;
  /*top: 50%;*/
  /*position: relative;
  top: 100px;*/
  /*margin-top: 190px;*/
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  /*height: 2rem;*/
  height: 10px;
  /*left: 2rem;*/
  /*position: fixed;*/
  position: relative;
  /*top: 2rem;*/
  /*width: 3.6rem;*/
  width: 35px;
  z-index: 2;
}

.nav-toggle:hover { opacity: 0.8; }

.nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: white;
  /*background: red;*/
  content: '';
  /*height: 0.4rem;*/
  /*height: 0.2rem;*/
  height: 1px;
  width: 100%;
}

.nav-toggle .nav-toggle-bar { margin-top: 0; z-index: 1;}

.nav-toggle .nav-toggle-bar::after { margin-top: 0.8rem; }

.nav-toggle .nav-toggle-bar::before { margin-top: -0.8rem; }

.nav-toggle.expanded .nav-toggle-bar { background: transparent; }

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  /*background: red;*/
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}