@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400; 
  src:  local('Nunito Regular'), local('Nunito-Regular'),
        url('../fonts/nunito-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/nunito-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/nunito-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/nunito-v9-latin-regular.eot'), /* IE9 Compat Modes */
        url('../fonts/nunito-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/nunito-v9-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito';
    font-size: 1.6rem;      /* 16px */
}

.no-bullet-list {
    list-style-type: none;
    padding-left: 0;
}