
<footer>
	<div class="row">
		<div class="small-12 medium-12 large-6 columns">
	
			<ul class="no-list">
				<li><a href="../../index.html">Home</a></li>
				<li><a href="html.html">HTML</a></li>
				<li><a href="css.html">CSS</a></li>
				<li><a href="javascript.html">JavaScript</a></li>
				<li><a href="php.html">PHP</a></li>
				<li><a href="reactjs.html">React.js</a></li>
				<li><a href="vuejs.html">Vue.js</a></li>
				<li><a href="api.html">API</a></li>
			</ul>

		</div>
	</div>
</footer>
