/*
Remove this code once .list class has been removed from the HTML

.list {
	font-size: 14px;
	padding: 15px 0 15px 12px;

	li {
		line-height: 20px;
	}
}
*/

ul {
	@include rem(14);
	padding: 15px 0 15px 12px;		// revise, could use remove padding-left class to align with content
	font-family: "SourceSansPro-Regular", "Helvetica Neue", Arial, sans-serif;

	li {
		line-height: 20px;			// revise
		font-family: "SourceSansPro-Regular", "Helvetica Neue", Arial, sans-serif;
		@include rem(14);
		-moz-osx-font-smoothing: grayscale;
		color: #34495e;
		font-weight: 300;
	}
}

// Needs moving into util or atomic, is not a quark
.no-list {
	list-style-type: none;
}