//
//  rem mixin
//  Apply Browser prefixing to CSS declarations
//  Values should be provided in pixels without 'px' units
//  The 'px' fallback is used for older browsers that do not support 'rem'
//
//  @param $prop:           	CSS property name
//  @param $px:             	Unitless pixel value/size: 8 vs 8px
//  @param $base-font-size:   	Base font size variable value. Default is 16
//
//  Example usage:
//  .selector {
//      @include rem(padding, 8, 16, 8);
//      @include rem(margin, 12);
//  }
//
@mixin rem($prop, $px: $base-font-size) {

	$pxvalues: null;
    $remvalues: null;

    @each $pxvalue in $px {
		$pxvalues: append($pxvalues, ($pxvalue) *1px);
        $remvalues: append($remvalues, ($pxvalue / $base-font-size) *1rem);
    }

    // Output properties with rem and pixel values
    #{$prop}: $pxvalues;    // px
    #{$prop}: $remvalues;   // rem
}