h1, h2 {
	font-size: 20px;
	font-family: "SourceSansPro-Regular", "Helvetica Neue", Arial, sans-serif;
	color: #2c3e50;
}

h1 {
	font-size: 35px;
	font-weight: 200;
}

h2 {
	font-size: 22px;
	font-weight: 200;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}